################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScrapingApp/.vs/ScrapingApp/v14
/ScrapingApp/bin
/ScrapingApp/node_modules
/ScrapingApp/obj/Debug
/ScrapingApp/.ntvs_analysis.dat
/ScrapingApp/npm-debug.log
/ScrapingApp/out
/ScrapingApp/out-test
